.create-trainee-container {
  text-align: center;
  width: 50%;
  // TODO feedback：最后一个auto不定义，效果是一样的
  margin: 100px auto 0 auto;
}

.create-trainee-form-button{
  width: 100px;
  height: 40px;
  margin: 10px;
}
