@import "src/style/_variables";

.add{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.2em;
  background: $light-gray;
  margin: 10px;
  width: 100px;
  height: 40px;
}

.add:hover{
  cursor: pointer;
}
